#roundcubeFrame {
	height: 100%;
	width: 100%;
	display: block;
}
#roundcubeLoaderContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}
#roundcubeLoader {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 128px;
	height: 15px;
	margin-top: -7px; /* Half the height */
	margin-left: -64px; /* Half the width */
}
