/**
 * Nextcloud RoundCube App.
 *
 * @author Claus-Justus Heine
 * @copyright 2020, 2021 Claus-Justus Heine <himself@claus-justus-heine.de>
 *
 * Nextcloud RoundCube App is free software: you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or (at your option) any later version.
 *
 * Nextcloud RoundCube App is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with Nextcloud RoundCube App. If not, see
 * <http://www.gnu.org/licenses/>.
 */

.hidden, .status.hidden {
  display:none;
}

#externalLocation {
  width:400px;
}

.disabled, .disabled * {
  opacity:0.5;
}

input[type=checkbox].emailPasswordShow {
  display: none;
}

input[type=checkbox].emailPasswordShow:checked + label.emailPasswordShow {
  filter: alpha(opacity=80);
  opacity: .8;
}

input[type=checkbox].emailPasswordShow + label.emailPasswordShow {
  position: absolute !important;
  margin-top: 11px;
  margin-left: -36px;
  height: 14px;
  width: 24px;
  background-image: url("../../../core/img/actions/toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
  filter: alpha(opacity=30);
  opacity: .3;
  text-indent: -10000em;
}
